@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-crema text-negroSuave antialiased;
  }
}
@layer utilities {
  .animate-shine {
    animation: shine 3s linear infinite;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}