@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-crema text-negroSuave antialiased;
  }
}
@layer utilities {
  .animate-shine {
    animation: shine 3s linear infinite;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@keyframes flyToCart {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(0, -50px) scale(1.1);
  }
  100% {
    transform: translate(calc(100vw - var(--target-x, 50px) - 100%), calc(-1 * var(--target-y, 500px))) scale(0.1);
    top: 20px; 
    left: 90%; 
    opacity: 0;
  }
}

.animate-fly-to-cart {
  animation: flyToCart 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}